{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card card-contributions">
              <div class="card-body ">
                <h1 class="card-title">Community Over All Else</h1>
                <h3 class="card-category">Total Public Contributions</h3>
                  <div class="row">
                  <div class="col-lg-6">
                      <img src="{% static 'img/americandreamdef.png' %}">

                  </div>
                  <div class="col-lg-6">
                        <div class="row ">
                 <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      Collapsible Group Item #1
                      <i class="tim-icons icon-minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingTwo">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Collapsible Group Item #2
                      <i class="tim-icons icon-minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingThree">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Collapsible Group Item #3
                      <i class="tim-icons icon-minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
                        </div>
                  </div>
                  </div>
              </div>


              <hr>
              <div class="card-footer ">

                </div>
            </div>
    <div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="card card-timeline card-plain">
              <div class="card-body">
                  <img src="{% static 'img/welcometomeputtinginwork.png' %}">
                <ul class="timeline timeline-simple">
                  <li class="timeline-inverted">
                    <div class="timeline-badge danger">
                      <img src="{% static 'img/Meputtinginwork (2).png' %}">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-danger">Welcome To the Potluck</span>
                      </div>
                      <div class="timeline-body">
                        <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @ Figueroa and 12th in downtown.</p>
                      </div>
                      <h6>
                        <i class="ti-time"></i> 11 hours ago via Twitter
                      </h6>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge success">
                      <i class="tim-icons icon-gift-2"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-success">Another One</span>
                      </div>
                      <div class="timeline-body">
                        <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge info">
                      <i class="tim-icons icon-planet"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <span class="badge badge-info">Another Title</span>
                      </div>
                      <div class="timeline-body">
                        <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
                        <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
                        <hr>
                      </div>
                      <div class="timeline-footer">
                        <div class="dropdown">
                          <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="tim-icons icon-bullet-list-67"></i>
                          </button>
                          <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -142px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
    </div>

    <div class="col-lg-6 col-sm-6">

    {% include 'partials/graphcalls/testgraph.html' %}


    </div>
    </div>
    <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h1 class="title">Pick the best plan for you</h1>
              <h4 class="description">You have Free Unlimited Updates and Premium Support on each package.</h4>
                <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-primary">
                <div class="card-body">
                  <h1 class="card-title"></h1>
                  <img class="card-img" src="{% static 'img/the-holy-bible.png' %}">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>30</h3>
                    <h5 class="text-on-back">30</h5>
                      <br>
                    <br>
                      <br>
                    <p class="plan">Professional plan</p>
                  </div>
                    <ul class="list-group">
                    <li class="list-group-item">Private Investor Group</li>
                    <li class="list-group-item">All Beta Updates</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <btn class="btn btn-round btn-just-icon btn-primary">Get started</btn>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-success card-white">
                <div class="card-body">
                  <h1 class="card-title">basic</h1>
                  <img class="card-img" src="../../assets/img/card-success.png">
                  <ul class="list-group">
                    <li class="list-group-item">50 messages</li>
                    <li class="list-group-item">100 emails</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>57</h3>
                    <h5 class="text-on-back">57</h5>
                    <p class="plan">Basic plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <btn class="btn btn-round btn-just-icon btn-success">Get started</btn>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-warning card-raised card-white">
                <div class="card-body">
                  <h1 class="card-title">mid</h1>
                  <img class="card-img" src="../../assets/img/card-warning.png">
                  <ul class="list-group">
                    <li class="list-group-item">200 messages</li>
                    <li class="list-group-item">130 emails</li>
                    <li class="list-group-item">24/7 Support</li>
                  </ul>
                  <div class="card-prices">
                    <h3 class="text-on-front">
                      <span>$</span>72</h3>
                    <h5 class="text-on-back">72</h5>
                    <p class="plan">Medium plan</p>
                  </div>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <btn class="btn btn-round btn-just-icon btn-warning">Get started</btn>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-danger card-white">
                <div class="card-body">
                  <img class="card-img" src="{% static 'img/discord10.png' %}">
                    <div class="card-prices">
                    <h3 class="text-on-front">
                        <br>
                      <span>$</span>10</h3>
                    <h5 class="text-on-back">10</h5>
                    <p class="plan">Trial plan</p>
                  </div>
                    <br>
                  <ul class="list-group">
                    <li class="list-group-item">50 messages</li>
                    <li class="list-group-item">50 emails</li>
                    <li class="list-group-item">No Support</li>
                  </ul>
                </div>
                <div class="card-footer text-center mb-3 mt-3">
                  <btn class="btn btn-round btn-just-icon btn-danger">Get started</btn>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <h3 class="title">Professional Plan</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Premium pricing is the strategy of consistently pricing at, or near, the high end of the possible price range to help attract status-conscious consumers. The high pricing of a premium product ...</p>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="progress-container progress-warning">
                <span class="progress-badge">500GB</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                  </div>
                </div>
              </div>
              <div class="progress-container progress-primary">
                <span class="progress-badge">4 years</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
{% endblock %}